<section fxLayout="row" fxLayoutAlign="center">
  <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex.lt-sm="100%" fxFlex="50%">
    <mat-card-title>
      <a href="{{wish.link}}" target="blank" class="wishLink">
        {{ wish.name }}
      </a>
    </mat-card-title>
    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-list role="list">
        <mat-list-item>
          Description: {{ wish.description }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Price: {{ wish.price | number}} zł
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          State: {{ wish.state | state }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Added: {{ wish.creationDate | date }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Last modified: {{ wish.lastModificationDate | date }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-raised-button color="primary" routerLink="edit">Edit</button>
      <h3>Add to a wishlist</h3>
      <form fxLayout="row" #fAddTo="ngForm" (ngSubmit)="addTo(fAddTo)" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
          <mat-select placeholder="Choose a wishlist" value="none" ngModel name="wishlistId">
            <mat-option *ngFor="let item of availableWishlists" value="{{ item.id }}">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" class="add">Add</button>
      </form>
    </mat-card-actions>
  </mat-card>
</section>