<section fxLayout="row" fxLayoutAlign="center">
  <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex.lt-sm="100%" fxFlex="50%">
    <mat-card-title>
      <a href="{{wish.link}}" target="blank" class="wishLink">
        {{ wish.name }}
      </a>
    </mat-card-title>
    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-list role="list">
        <mat-list-item>
          Description: {{ wish.description }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Price: {{ wish.price | number}} PLN
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          State: {{ wish.state }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Added: {{ wish.creationDate | date }}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          Last modified: {{ wish.lastModificationDate | date }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="edit">Edit</button>
    </mat-card-actions>
  </mat-card>
</section>