<section fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxFlex="80%">
        <h1>
            So you would like to know how it works?
        </h1>
        <p>
            It is simple!
        </p>
        <p>
            First, add some wishes. You may add more than three!
        </p>
        <p>
            Then, create a wishlist. Add your wishes to it. <br>
            And share it with your friends and family!
        </p>
        <p>
            Now, you will get what you want and they will not waste time on shop-wandering! <br>
            Clearly a win-win!
        </p>
    </div>
</section>



