<form fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" #fAdd="ngForm" (ngSubmit)="addWishlist(fAdd)">
  <h3>Enter wishlist token:</h3>
  <mat-form-field>
    <input matInput ngModel type="text" name="wishlistToken" required #wishlistToken="ngModel">
  </mat-form-field>
  <button mat-raised-button color="primary" class="add" [disabled]="fAdd.invalid">
    Add Wishlist
  </button>
</form>
<mat-divider></mat-divider>
<form fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" #fNew="ngForm" (ngSubmit)="addNewWishlist(fNew)">
  <h3>New wishlist name:</h3>
  <mat-form-field>
    <input matInput ngModel type="text" name="newWishlist" required #newWishlist="ngModel">
  </mat-form-field>
  <button mat-raised-button color="primary" class="add" [disabled]="fNew.invalid">
    New Wishlist
  </button>
</form>
<mat-divider></mat-divider>
<mat-list fxLayout="column" role="list" fxLayoutAlign="center center">
  <mat-card fxLayout="row" *ngFor="let item of wishlistsData" fxFlex.lt-sm="100%" fxFill fxLayoutAlign="center center">
    <mat-card-title>
      <a routerLink="/wishlist/{{item.id}}" class="wishlistLink">{{ item.name }}</a>
      <button mat-icon-button (click)="removeWishlist(item.id)" color="primary">
        <mat-icon>
          remove_circle_outline
        </mat-icon>
      </button>
    </mat-card-title>
  </mat-card>
</mat-list>
