.wishlistLink {
    color: whitesmoke;
    text-decoration: none;
}

.wishlistLink:hover {
    color: lightgray;
    text-decoration: none;
}

.add {
    height: 75%;
}

mat-form-field {
    width: 50%;
}