a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightgray;
}

.navigation-item {
    list-style: none;
    padding: 0;
    margin: 0;
}

.brand {
    color:black;
}

.brand-name {
    padding: 10px;
    font-family: 'Kavivanar', cursive;
}