<mat-toolbar color="primary">
<div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggle()">
        <mat-icon>
            menu
        </mat-icon>
    </button>
</div>
<div>
    <a routerLink="/" fxLayout="row" fxLayoutAlign="center center" class="brand">
        <mat-icon>
            assignment
        </mat-icon>
        <span class="brand-name">More Than Three Wishes</span>
    </a>
</div>
<div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout="row" fxLayoutGap="10px" class="navigation-item">
        <li *ngIf="!userAuth">
            <a routerLink="/signup">Sign up</a>
        </li>
        <li *ngIf="!userAuth">
            <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="userAuth">
            <a routerLink="/mywishes">My wishes</a>
        </li>
        <li *ngIf="userAuth">
            <a routerLink="/addwish">Add Wish</a>
        </li>
        <li *ngIf="userAuth">
            <a routerLink="/logout" (click)="onLogout()">Log out</a>
        </li>
    </ul>
</div>
</mat-toolbar>