<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" #f="ngForm" (ngSubmit)="signUp(f)">
    <mat-form-field>
      <input type="email" name="email" ngModel matInput placeholder="Email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('email')">The email is invalid!</mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">The field is required!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password1" ngModel matInput placeholder="Password" required #password1Input="ngModel" (keyup)="verifyPassword(f)">
      <mat-error *ngIf="password1Input.hasError('required')">The field is required!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password2" ngModel matInput placeholder="Repeat password" required #password2Input="ngModel" (keyup)="verifyPassword(f)">
      <mat-error *ngIf="password2Input.hasError('required')">The field is required!</mat-error>
      </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="(f.invalid || !matchingPass)">
      Sign up!
    </button>
    <mat-error *ngIf="(!password2Input.hasError('required') && !matchingPass)">The passwords do not match!</mat-error>
  </form>
</section>