<div class="welcome" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-md="row" fxLayoutGap="10px">
    <section>
        <img src="https://i.wpimg.pl/O/730x0/m.gadzetomania.pl/akinator-1-defi-a0b4132e3c1681e1.png" alt="Jinn">
    </section>
    <section>
        <h1>Any wish on your mind?</h1>
    </section>
    <section>
        <h1>I will help you with it!</h1>
    </section>
</div>
<div class="welcome" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-md="row" fxLayoutGap="10px">
<section>
    <h1>No idea how to use it?</h1>
    <button mat-raised-button routerLink="/howto" color="primary">Let me show you!</button>
</section>
</div>