<mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card-title>About the More Than Three Wishes</mat-card-title>
  <mat-card-content>
    <mat-list role="list" fxLayout="column" fxLayoutAlign="center center">
      <mat-list-item>
        Author: Paweł Grabiński
      </mat-list-item>
      <mat-list-item>Email: pawelrgrabinski@gmail.com</mat-list-item>
      <mat-list-item>Page:  <a href="http://pgrabinski.pl" target="blank">pgrabinski.pl</a></mat-list-item>
      <mat-list-item>In case of any bugs, troubles in usage or some potential improvements, do not hesitate to email me.</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>