<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter by">
  </mat-form-field>
  <h2 *ngIf="!ownMode" fxLayoutAlign="center center">{{ givenWishlistName }}</h2>
  <h4 *ngIf="!ownMode" fxLayoutAlign="center center">Sharable token: {{ id }} <button matTooltip="Copy the token to the clipboard!" mat-icon-button color="primary" ngxClipboard [cbContent]="id" ><mat-icon>playlist_add</mat-icon></button></h4>
  <h4 fxLayoutAlign="center center" *ngIf="!ownMode">
    <span class="remove">Remove this wishlist</span>
    <button mat-icon-button (click)="removeThisWishlist()" color="primary">
      <span>Remove</span>
      <mat-icon>
        remove_circle_outline
      </mat-icon>
    </button>
  </h4>
  <form fxLayout="row" #fAddWish="ngForm" (ngSubmit)="addWish(fAddWish)" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="!ownMode">
      <h4>Add your wish</h4>
    <mat-form-field>
      <mat-select placeholder="Choose a wish" value="none" ngModel name="wishId" required>
        <mat-option *ngFor="let item of ownWishes" value="{{ item.id }}">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="add" [disabled]="fAddWish.invalid">Add</button>
  </form>
</div>
<mat-table #wishes [dataSource]="wishesData" matSort>
  <ng-container matColumnDef="creationDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Creation
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
        {{element.creationDate | date}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
        {{element.name}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-lg>
      Description
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index" fxHide.lt-lg>
          {{element.description}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Price [zł]
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
          {{element.price}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      State
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
          {{ element.state | state }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef>
      Delete
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
        <button mat-icon-button (click)="removeWishFromWishlist(element.id)">
          <mat-icon>
            remove_circle_outline
          </mat-icon>
        </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <!-- (click)="Show(row)" -->
  <mat-row *matRowDef="let row; columns: displayedColumns;" routerLinkActive="active" routerLink="/mywishes/{{row.id}}"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[1,5,10,20,50]"></mat-paginator>
<!-- <button (click)="onCopy()">Copy</button> -->