<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter by">
  </mat-form-field>
</div>

<mat-table #wishes [dataSource]="wishesData" matSort>
  <ng-container matColumnDef="creationDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Creation
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
      <a  routerLinkActive="active" routerLink="{{i}}" class="routerLink">
        {{element.creationDate | date}}
      </a>      
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
        <a  routerLinkActive="active" routerLink="{{i}}" class="routerLink">
        {{element.name}}
      </a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Description
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
        <a  routerLinkActive="active" routerLink="{{i}}" class="routerLink">
          {{element.description}}
        </a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Price [zł]
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
        <a  routerLinkActive="active" routerLink="{{i}}" class="routerLink">
          {{element.price}} 
        </a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      State
    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
        <a  routerLinkActive="active" routerLink="{{i}}" class="routerLink">
          {{ element.state | state }}
        </a>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[1,5,10,20,50]"></mat-paginator>
<!-- <button (click)="onCopy()">Copy</button> -->