a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: lightgray;
}

.routerLink {
    display: block;
}

.routerLink:hover {
    color: lightgray;
}

.remove {
    margin-right: 10px;
}

mat-row {
    cursor: pointer;
}

mat-cell:hover {
    color: lightgray;
}